.gradle
.settings
.classpath
*.class
.project
bin
/build
/target_*/build
/desktopRuntime/_eagstorage*
/desktopRuntime/eclipseProject/bin*
/desktopRuntime/hs_err_*
/desktopRuntime/crash-reports/*
/desktopRuntime/options.txt
/desktopRuntime/_eagstorage*
/desktopRuntime/filesystem/*
/desktopRuntime/downloads/*
/desktopRuntime/screenshots/*
target_teavm_wasm_gc/javascript/classes.wast.html
/server/node_modules
/server
/sodium-old-1.16.x-next
/target_teavm_wasm_gc/javascript_dist
target_teavm_wasm_gc/javascript_dist/Eaglercraft_1.14.4_WASM-GC_Offline_Download.html
